
@font-face {
	
	font-family : "Aaargh" ;
	src : url("../fonts/Aaargh.ttf") format ("ttf") ;
	
}

body {
	
	background : url(../images/usa/buzz4K.jpg) no-repeat center fixed;
	background-size: cover;
	font-family : "Aaargh", sans-serif ;
	
}

#intro {
	
	color : white ;
	text-align : justify ;
	font-size : 1.5em ;
	margin-top : 15em ;

}

img {
	
	width : 100% ;
	height : auto ;
	
}

#boutonAventure {
	
  margin-left : 30% ;
  margin-top : 20% ;
  width : 15em ;
	
}