
@font-face {
	
	font-family : "Aaargh" ;
	src : url("../fonts/Aaargh.ttf") format ("ttf") ;
	
}

body {
	
	background : url(../images/module.png) no-repeat center fixed;
	background-size: cover;
	font-family : "Aaargh", sans-serif ;
	
}

#presentation {
	
	color : white ;
	text-align : center ;
	font-size : 1.5em ;
	margin-top : 15em ;

}

a {
	
	font-weight : bold ;
	
}

#choix {
	
    background-color : #17a2b8 ;
	display : flex ;
	margin-left : 10em ;
    width : 55em ;
    border-radius: 4px 4px 4px 4px;
    display: flex;
	
}

#choix:hover {

    border-color: #117a8b;

}

#usa {
    border-radius: 4px 0px 0px 4px;
}

#russie {
    border-radius: 0px 4px 4px 0px;
}

.factions {
    
    color: white;
    width: 220px;
    padding : 5px;
    padding-left: 5em;
	
}

.factions:hover {
  cursor: pointer;
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

.liensFactions:hover {

    color: white;
    text-decoration: none;

}

.liensFactions {
        color: white;
}