
@font-face {
	
	font-family : "Aaargh" ;
	src : url("../fonts/Aaargh.ttf") format ("ttf") ;
	
}

body {
	
	font-family : "Aaargh", sans-serif ;
	
}

button {
	
	color: white;
  text-decoration : none ;
  background-color: #242e3f ;
  border: none;
  padding: 0.5em 2.5em ;
  text-align: center;
  font-size: 16px;
  border-radius: 30px 30px 30px 30px ;
  transition-property : background-color, opacity ;
  transition-duration : 1s ;
	
}
.tab {
	margin:auto;
}
#cont {
	display:flex;
}
.divBtn {
	display:flex;
}
.column {
	float:left;
	width:50%;
}
#cont:hover {
	
	background-color: #fdd011 ;
	
}
p {
	display:inline-block;
	margin:auto;
}
button:hover {
	
	background-color: #70353c ;
	opacity : 1 ;
	cursor : pointer ;
	
}