
@font-face {
	
	font-family : "Aaargh" ;
	src : url("../fonts/Aaargh.ttf") format ("ttf") ;
	
}

body {
	
	font-family : "Aaargh", sans-serif ;
	//background-image : url("../../images/europe/vaisseau.png") ;
	
}

#chief {
	
	height : 25em ;
	width : 20em ;
	
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#tout {
	
	margin-left : 5em ;
	
}

.btn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-info:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

#presentation {
	
    display : flex ;
    margin-top : 4em;
    margin-left : 4em ;
	
}

#thumbs {
	
	height : 20em ;
	width : 30em ;
	
}

#root {
    margin-left: 5em;
}

#bouton {
    margin-left: 2em;
}

h1 {
	
	text-align : center ;
        font-size : 2em ;
	
}

.contenu {
    margin: auto;
}

p {
	
	text-align : justify ;
    font-size : 1.5em ;

}

img {
	
    margin-left : 5em ;
    width: 70em;
	
}