
@font-face {
	
	font-family : "Aaargh" ;
	src : url("../fonts/Aaargh.ttf") format ("ttf") ;
	
}

body {
	
	font-family : "Aaargh", sans-serif ;
	background-image : url("../../images/europe/vaisseau.png") ;
	
}

#boutonJeu {
	
	color: white;
  text-decoration : none ;
  background-color: #242e3f ;
  border: none;
  padding: 0.5em 2.5em ;
  text-align: center;
  font-size: 16px;
  margin-top : 17em ;
  border-radius: 30px 30px 30px 30px ;
  transition-property : background-color, opacity ;
  transition-duration : 1s ;
	
}

#boutonJeu:hover {
	
	cursor : pointer ;
	
}

#jeu {
	
	display : flex ;
	
}

h1 {
	
	text-align : center ;
		font-size : 2em ;
	
}

p {
	
	text-align : center ;
	font-size : 1.5em ;

}

img {
	
	margin-left : 10em ;
	
}